@{
  Layout = "_Layout";
}

@using VideoGameCollection.Models;
@model List<VideoGameCollection.Models.Game>;

<h1>Games</h1>

<ul>
  @foreach(Game game in Model)
  {
      <li>@Html.ActionLink($"{game.Title}", "Details", new { id = game.GameId })</li>
  }
</ul>

@* <form action="/animals/index">
  <label for="sortMethod">Sort Animal List by:</label>
  <select name="sortMethod" id="sortMethod">
    <option value="breed">Breed</option>
    <option value="type">Type</option>
    <option value="dateRecent">Most Recent</option>
    <option value="dateOldest">Longest time in admittance</option>
  </select>
  <button type="submit">Sort List</button>
</form> *@

<p>@Html.ActionLink("Add new game.", "Create")</p>